 © <div class="p-4 mb-3 rounded">
    <h4 class="fst-italic">Catégories</h4>
    <li>
        <a class="text-decoration-none" href="#">Tutoriel C#</a> 
    </li>
     <li>
        <a class="text-decoration-none" href="#">Tutoriel Symfony</a> 
    </li>
</div>
